* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  background-color: rgb(20, 20, 20);
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  /* padding: 0.4em; */
  /* margin: 0 0 0.5em 0; */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

h1 {
  color: #fde931;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
}

h2,
h3,
h4,
h5,
h6 {
  color: #e7d637;
  font-weight: normal;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  /* -webkit-box-shadow: 0px 1px 2px #b3ff00; */
  background-color: #8d8221;
}

::-webkit-scrollbar-corner {
  background: #000;
}
